<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/home.css">
  <link rel="stylesheet" href="/assets/css/post-card.css">
  <link rel="shortcut icon" size="16x16" href="/assets/images/logo-16.png" type="image/png">
  <link rel="shortcut icon" size="32x32" href="/assets/images/logo-32.png" type="image/png">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}{{ site.baseurl }}/feed.xml" title="{{ site.title }}" />
  <title>Cornell Cybersecurity Club Blog</title>
</head>
<body>
  <main class="home-container">
    <header class="fancy-title alt-backing"><img src="/assets/images/logo.png" alt="CCY Lock Logo"><h1>cornellcyber/blog<span class="cursor">_</span></h1></header>
    <h2>Featured</h2>
      {% assign featured_posts = site.tags['featured'] %}
      <div class="post-card-container">
      {% for post in featured_posts %}
      {% include post-card.html post=post %}
      {% endfor %}
      </div>
    <h2>Archive</h2>
    <div class="post-card-container">
      {% for post in site.posts %}
      {% include post-card.html post=post %}
      {% endfor %}
    </div>
  </main>
</body>
</html>
